@using mphweb.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mphweb</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/reset.css">
        <link rel="stylesheet" href="~/css/font-awesome.css">
        <link rel="stylesheet" href="~/css/style.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @{
        mphweb.Models.dictParams d = null;
        if (ViewBag.dp != null) {
            d = (mphweb.Models.dictParams)ViewBag.dp;
        }
    }
    <div id="wrapper">
        <header>
            <div id="goto_main">

            </div>
            <div id="main-name">
                <div>
                @if (variables.lang.id_lang == 1058)
                {
                   @: @idispl.bname_ua
                }
                else
                {
                   @: @idispl.bname_ru
                }
                </div>
                <div>
                    <a href="https://github.com/LinguisticAndInformationSystems/mphdict" target="_blank">
                         @if (variables.lang.id_lang == 1058)
                         {
                             @: @idispl.dict_ua_name
                         }
                         else
                         {
                             @: @idispl.dict_ru_name
                         }
                    </a>
                </div>
            </div>
            <div id="main-info">
                <div>Copyright © 2016 <a href="mailto:uSofTrod@outlook.com">uSofTrod</a> </div>
                <div><a href="http://opensource.org/licenses/MIT" target="_blank">The MIT License</a> </div>
            </div>
            <div id="logoff">
                <a href="#iworking" title="Вихід"></a>
            </div>
        </header>
        
       @{await Html.RenderPartialAsync("_MainControlPanel", d);}
        
        <main>
                @switch ((viewtype)ViewBag.vtype)
                {
                    case viewtype.dict:
                        <nav>
                            @{await Html.RenderPartialAsync("_navDictionary", d);}
                        </nav>
                        break;
                    case viewtype.pclass:
                        <nav class="nav_pclass">
                            @{await Html.RenderPartialAsync("_navPClass", (mphdict.Models.morph.indents_base[])ViewBag.indents);}
                        </nav>
                        break;
                    default:
                        break;
                }
            <article>
                <header></header>
                <section>
                    @RenderBody()
                </section>
                <footer></footer>
            </article>
            <aside></aside>
        </main>
        <footer id="mainfooter"></footer>
    </div>
    @*<input type="hidden" id="pathjs" value="" />*@
    @RenderSection("scripts", required: false)
    <environment names="Development">
        <script src="~/js/rls_pb.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

</body>
</html>
