@using mphdict.Models.morph
@model mphweb.Models.dictParams
<div id="main-tab">
    <div class="tab-item">Словник</div>
    <div class="group-not-active-tab">
        @*<div class="tab-item">Про систему...</div>*@
    </div>
</div>
<section id="main-control">
    <button id="left-control" class="btn">‹</button>
    <div id="menu-container">
        <div class="menu-group">
            <form id="query-control" asp-action="Index" asp-controller="inflection" method="get">
                <div class="menu-group-content">
                    <div id="query-param" class="query-param">
                        <div id="query-param-val" class="query-param-val">
                            <input asp-for="@Model.f.isStrFiltering" />
                            <select asp-for="@Model.f.fetchType">
                                <option value="0">Починається з</option>
                                <option value="1">Містить</option>
                                <option value="2">Закінчується на</option>
                            </select>
                        </div>
                        <div class="query-param-val">
                            <input asp-for="@Model.f.str" pattern="[A-za-zА-Яа-я\sЇїЁёЄєІі]+" />
                        </div>
                    </div>
                </div>
                <div class="menu-group-content">
                    <div class="query-param">
                        <div class="query-param-val">
                            <input asp-for="@Model.f.isInverse" />
                            <label for="f_isInverse">інверсний реєстр</label>
                        </div>
                        <div class="query-param-val">
                            <input asp-for="@Model.f.ispclass" />
                            <label for="f_ispclass">пар. клас:&nbsp;</label>
                            <select asp-for="@Model.f.pclass" asp-items="@variables.pclass">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="menu-group-content">
                    <div class="query-param">
                        <div class="query-param-val">
                            &nbsp;
                        </div>
                        <div class="query-param-val">
                            <input asp-for="@Model.f.ispofs" />
                            <select asp-for="@Model.f.pofs" asp-items="@variables.pofs">
                                <
                            </select>
                        </div>
                    </div>
                </div>
                <div class="menu-group-content">
                    <button id="filter" title="Оновити" class="btn"></button>
                </div>
                <input asp-for="@Model.incp.wordSearch" type="hidden" />
            </form>

            <div class="menu-group-name">
                Робота з реєстром
            </div>
        </div>
    </div>
    <button id="right-control" class="btn">›</button>
</section>