@using mphdeck.Models
@model mphdict.Models.morph.indents_base[]

@if (Model != null)
{
@*@{await Html.RenderPartialAsync("_SearchPanel", Model);}*@
<div class="pclass-name">
    <div class="col-name pclass-id">№</div>
    <div class="col-name pclass-qty">кільк.</div>
    <div class="col-name pclass-indent">-</div>
    <div class="col-name pclass-gr">категорія</div>
    @*<div class="col-name pclass-com">інфо</div>*@
</div>
<div id="pclass-list" class="words-list">
    @{grdictParams dp = ViewBag.dp.gr; }
    @foreach (var item in Model)
    {
        <a asp-action="Index" asp-controller="flexes"
           asp-route-wid="@dp.incp.wid" asp-route-currentPage="@dp.incp.currentPage" asp-route-wordSearch="@dp.incp.wordSearch"
           asp-route-str="@dp.f.str" asp-route-isStrFiltering="@dp.f.isStrFiltering" asp-route-isInverse="@dp.f.isInverse" asp-route-ispclass="@dp.f.ispclass" asp-route-pclass="@dp.f.pclass" asp-route-ispofs="@dp.f.ispofs" asp-route-pofs="@dp.f.pofs"
           asp-route-pclassPcls="@item.type" asp-route-ispofsPcls="@ViewBag.dp.pcls.f.ispofsPcls" asp-route-pofsPcls="@ViewBag.dp.pcls.f.pofsPcls"
           asp-fragment="@($"ptype-{item.type}")"
           class="pclass-row @(item.type == ViewBag.dp.pcls.f.pclassPcls ? "selected-word" : "")" id="@($"ptype-{item.type}")">
            <div class="pclass-id" title="@item.type">@item.type</div>
            <div class="pclass-qty" title="@item.CountOfWords">@item.CountOfWords</div>
            <div class="pclass-indent" title="@item.indent">@item.indent</div>
            <div class="pclass-gr" title="@item.grName">@item.grName</div>
            @*<div class="pclass-com" title="@item.comment">@item.comment</div>*@
        </a>
    }
    @*}*@
</div>
}